export(intrAuth)
export(intrCall)
export(intrCallWrap)
export(intrOptions)

export(i.securities)

importFrom(httr, modify_url)
importFrom(httr, VERB)
importFrom(httr, authenticate)
importFrom(httr, content)
importFrom(assertthat, assert_that)
importFrom(assertthat, is.number)
importFrom(assertthat, is.string)

importFrom(jsonlite, fromJSON)
